asgiref==3.11.1
black==26.1.0
click==8.3.1
crispy-bootstrap5==2025.6
dj-database-url==3.1.2
dj-email-url==1.0.6
Django==5.0.14
django-cache-url==3.4.6
django-crispy-forms==2.5
environs==11.0.0
gunicorn==22.0.0
marshmallow==4.2.2
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.2
psycopg==3.3.3
psycopg-binary==3.3.3
python-dotenv==1.2.2
pytokens==0.4.1
sqlparse==0.5.5
whitenoise==6.7.0
