/* static/css/base.css */

/* this is a class we created that we anticipate to use with cards to space them
dowm futher by simply combining them with the main card class */
.card-spaced {
    margin-top: 5rem;
    background-color: black;
    padding: 1rem;

}

/* more custom text we created but with it's own specific shadow */
.danger-text {
    /* text-shadow: h-offset v-offset blur color; */
    text-shadow: 1px 1px 2px white;
    color: coral;
}

/* this is a custom rule we added for playing with text shadow on text to 
alter */
.text-shadow-glow {
    text-shadow: 1px 1px 2px lime;
}

/* thos is another override I believe for the purpose of styling the default
btn class that bootstrap provides. */
.btn-shadow {
    box-shadow: 2px 2px 4px gray; /* x y blur color */
}

/* This is a custom class we created and anticipate using on our update forms */
.update-form label {
    color: red;
    background-color: gray;
    text-shadow: 2px 2px 2px black;
}

/* form-text should be the default styling that bootstrap5 uses and this is a
rule override for this behaviour but not globally only to the .update-form
class itself. Which makes sense since we're overriding default bootstrap form
styling */
.update-form .form-text {
    color: blue;
    background-color: aquamarine;
}

.card-border {
    border-radius: 1rem;
    border-spacing: 1rem;
    /* the width here is what helped us changed the sides of the card. */
    max-width: 600px;    /* or whatever width you want */
    /* margin here added more padding with the auto does both left and right */
    margin: 3rem auto;   /* auto left/right centers it, 3rem top/bottom */
    /* this side padding for small screens */
    padding: 0 1rem;     /* optional: a bit of side padding on small screens */
}

/* worth noting right now that we can use the widgets of the form we override
to be able to chace the text-area */