{% extends 'base.html' %}

{% block title %}
Articles
{% endblock title %}

{% block content %}
    <p>
        {% for article in article_list %}
        <div class="card">
            <div class="card-header text-center">
                <span class="fw-bold">
                    <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                </span> &middot;
                <span class="text-muted">by {{ article.author }} |
                    <!-- the A gives us the am or pm whereas g is the hour with no leading
                     zero opposed to the use of the h which gives us leading zeros-->
                    {{ article.date|date:'M d Y, g:i A '}}
                </span>
            </div>
            <div class="card-body text-center">
                <h3>
                    {{ article.author }}
                </h3>
                {{ article.body }}
                {% if article.author.pk == request.user.pk %}
                    <br/>
                    <a href="{% url 'article_edit' article.pk %}">Edit</a> | 
                    <a href="{% url 'article_delete' article.pk %}">Delete</a>
                {% endif %}
                <!-- adds the ability to take the user to the article  -->
                | <a href="{{ article.get_absolute_url }}">+New Comment</a>
            </div>
            <div class="card-footer text-center">
                <!-- take note we us an sql query directly to be able to access the
                 comments for the article. -->
                <h4><b>Comments</b></h4>
                {% for comment in article.comment_set.all %}
                    <span class="fw-bold">{{ comment.comment }}</span> | {{ comment.date_added|date:'M Y, g:i A '}}
                    <br/>
                {% empty %}
                    <b>NO COMMENTS</b>
                {% endfor %}
            </div>
        </div>
        <br />
        {% empty %}
        No articles have been created yet.
        {% endfor %}
    </p>
{% endblock content %}