{% extends 'base.html' %}

{% block content %}
    <div class="card">
        <div class="card-header text-center mt-4">
            <h3>
                {{ article.title }} | {{ article.date }}
            </h3>
        </div>
        <div class="card-body">
            <!-- where does the fw-bold class come from? -->
            <span class="fw-bold">
                <p>
                    {{ article.body }}
                </p>
            </span>
        </div>
        <div class="card-footer text-center text-muted">
            <!-- take note this is possible because we're working directly with the obj -->
            {% if article.author.pk == request.user.pk %}
                <a href="{% url 'article_edit' article.pk %}">Edit</a> |
                 <a href="{% url 'article_delete' article.pk %}">Delete</a>
            {% endif %}
        </div>
    </div>
    <div>
        <p>
            Back to <a href="{% url 'article_list' %}">All Articles</a>
        </p>
    </div>
{% endblock content %}